@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');



*{
    text-decoration: none;
    list-style: none;
}
html{
    scroll-behavior: smooth;
}


nav{
    display: flex;
    position: fixed;
    top: 0;
    margin-top: 26px;
}
.nav{
    height: 500px;
    margin-top: 310px;
}
.navbar ul{
    
    margin-left: 620px;
    /* padding-left: 580px; */
     margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 
}

.navbar ul li a{
    color: #fff;
   margin: 0px 9px;
   margin-top: 6px;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    font-weight: 500;
}

nav.scrolled{
    left: 0;
    background-color: crimson;
    width:100% ;
    height: 80px;
    margin-top: 8px;
    color: white;
 
}
nav.scrolled .navbar ul li a:hover{
    color: #fff;
}

nav.scrolled h1 span{
    color: #fff;
}


.navbar ul li a:hover{
    color: #DC143C;
    
}


nav h1{
    color: #fff;
    margin-top: 20px;
    font-size: 40px;
    margin-left: 125px
}
nav h1 span{
    color: crimson;
}

.nav .bg{
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    background: url("bg1.jpg") no-repeat center center/cover;
    left: 0;
    right: 0;
    opacity: 1;
    width: 100%;
    /* height:800px; */
    height: 100%;

}


.content1{
    color: #fff;
    margin: 125px;
    font-family: 'Ubuntu', sans-serif;
    text-align: left;
}
.content1 span{
    color: crimson;
}
.content1 h4{
    color: #999;
    margin: 0px;
    font-weight: 30;
    font-size: 28px;
}
.content1 h1{
    font-size: 82px;
    margin: 0px;
    /* margin-top: 2px; */
}
.content1 h3{
    
    font-size: 37px;
    font-weight: 50;
    margin: 0px;
    /* margin-top: 2px; */
    margin-bottom: 12px;
}

.btn{
    padding: 8px 30px;
    border-radius: 2px;
    border: none;
    color: white;
    cursor: pointer;
    opacity: 1;
    margin-top: 8px;
    background-color: #DC143C;
    transition: background-color 0.5s ease-in-out;
    font-family: 'Poppins', sans-serif;
}

.btn:hover{
    color: crimson;
    background-color: transparent ;
}

/* About */

 .heading{
    text-align: center;
}


 .heading h1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    font-weight: 1000;
    margin-bottom: 0px;
    margin-top: 0px;
}

.about .heading h1{
   padding-top: 140px;
}
.heading h4{
    font-size: 17px;
    font-weight:650;
    margin-top: 0px;
    font-family: 'Poppins', sans-serif;
  
}
 .heading h4 span{
color: crimson;
}





.about{
   height: 730px;
   /* padding: 50px 0px; */
}

.about-data{
    display: flex;
}
.img img{
    height: 360px;
    width: 320px;
    margin-left: 100px;
    margin-top: 40px;
    /* margin-bottom: 50px; */
    border-radius: 5px;
    box-shadow: 0px 0px 10px lightgray;
}

.about-content h3{
        font-family: 'Ubuntu', sans-serif;
        font-size: 30px;
} 

.about-content h3 span{
       color: crimson;
}
.about-content p{
font-size: 15px;
}

.about-content{
    padding: 20px 160px;
    text-align: justify;
    padding-right: 220px;    
    /* margin-left: 30px; */
    margin-top:40px ;
    font-size: 15px;
     font-family: 'Poppins', sans-serif;
}

.cv-btn{
    font-size: 15px;
    padding: 15px 25px;
    color: white;
    background-color: crimson;
    border: none;
    border-radius: 5px;

}


/* Services */


.Services-section{
    background-color: #111;
    color: #fff;
    width: 100%;
    right: 0;
    left: 0;
}

.Services-section .heading{
   padding-top: 150px;
}

.services-content{
    display: flex;
    padding: 150px;
    padding-top: 20px;
    padding-bottom: 69px;
}
.services-content .item{
    /* padding: 100px; */
    margin: 20px;
    text-align: center;
    background-color: #222;
    padding: 50px;
    border-radius: 5px;
}


.brush-logo, .chart-logo, .code-logo{
    color: crimson;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
}
.item{
    padding: 10px 30px;
}

.item h3{
    font-size: 27px;
    font-family: 'Ubuntu', sans-serif;
}

.item p{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}







.contact-section{
    padding-top: 100px;
    padding-bottom: 20px;
}


.contact-details-item{
    display: flex;
}

.contact-details-item-logo{
    font-size: 30px;
    color: crimson;
    padding: 30px;
}

.contact-details-item-data h6,.contact-details-item-data p{
    margin: 0px;
}
.contact-content{
    display: flex;
}

.contact-details-item-data{
    margin-top: 23px;
    font-size: 26px;
}
.contact-content .data{

    padding: 0px 50px;
    font-family: 'Poppins', sans-serif;
    padding-left: 150px;
    padding-right: 90px;
    
    
}

.data p{
    font-size: 17px;
}

.form h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 15px;
    font-weight: 400;
}

input[type="text"],input[type="email"]{
    /* padding: 30px; */
    padding: 0px 15px;
    height: 45px;
    width: 237px;
    font-size: 17px;
    margin: 5px 0px;
    border: 3px solid lightgray;
    border-radius: 6px;
    outline: none;
    font-family: 'Poppins', sans-serif;
}


.form .btn{
    
    border-radius: 6px;
    
    height: 45px;
    outline: none;
    font-size: 17px;
    font-weight: 500;
    border: 2px solid crimson;
    transition: all 0.3s ease;

}

.form .btn:hover{
    background-color: transparent;
    color: crimson;
}










footer{
    width: 100%;
margin: 0;
box-sizing: border-box;
text-decoration: none;
font-family: 'Poppins', sans-serif;
background: #111;
padding: 15px 23px;
color: #fff;
text-align: center;
}
footer a{
    color: crimson;
}
